.contact_section {
  position: relative;
  background-color: #ecf0f1; /* Couleur de fond claire */
  color: #2c3e50;
  padding: 60px 0;
}

.container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.detail-box {
  flex: 1;
  background-color: #ffffff; /* Couleur de fond blanche */
  color: #2c3e50; /* Couleur du texte */
  padding: 30px;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #bdc3c7; /* Ajouter une bordure pour la visibilité */
}

.contact_form {
  flex: 1;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.contact_section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #2c3e50, #1abc9c);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  z-index: 0;
}

.contact_form h5 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: 600;
}

input.form-control,
textarea.form-control {
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

input.form-control:focus,
textarea.form-control:focus {
  outline: none;
  border-color: #1abc9c;
}

.btn-primary {
  background-color: #1abc9c;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #16a085;
}

.text-danger {
  font-size: 14px;
  margin-top: 5px;
}
