.logo {
  margin-left: 50px;
  width: 100px;
  height: auto;

  z-index: 10;
  position: relative;
}


@media (max-width: 768px) {
  .logo {
    width: 120px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 100px;
  }
}


.header {
  transition: background-color 0.3s, color 0.3s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}


.header.navbar-scrolled {
  background-color: #000;
  color: white;
}


.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link.active {
  color: #007bff;
}

.navbar-nav .nav-link:hover {
  color: #17a2b8;
}

.header {
  transition: background-color 0.3s, color 0.3s;
}

.header.navbar-scrolled {
  background-color: #000;
  color: white;
}

.navbar-nav .nav-link {
  color: black;
  transition: color 0.3s;
}

.header.navbar-scrolled .navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link.active {
  color: #007bff;
}

.navbar-nav .nav-link:hover {
  color: #17a2b8;

  .navbar-nav .nav-link {
    color: black;
    transition: color 0.3s;
    z-index: 5;
    position: relative;
  }

  .header.navbar-scrolled .navbar-nav .nav-link {
    color: white;
  }


  .navbar-nav .nav-link.active {
    color: #007bff;
  }

  .navbar-nav .nav-link:hover {
    color: #17a2b8;
  }

  .header {
    transition: background-color 0.3s, color 0.3s;
  }

  .header.navbar-scrolled {
    background-color: #000;
    color: white;
  }

  .navbar-nav .nav-link {
    color: black;
    transition: color 0.3s;
  }


  .navbar-nav .nav-link.active {
    color: #007bff;
  }

  .navbar-nav .nav-link:hover {
    color: #17a2b8;
  }


  .contact_section .contact-form button {
    border: none;
    outline: none;
    padding: 12px 50px;
    text-transform: uppercase;
    margin-top: 25px;
    background-color: #4bc5b8;
    color: #fff;
    border-radius: 30px;
  }


  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }

  .header_section .nav_container {
    margin: 0 auto;
  }
}



