body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #ffffff;
  height: 50%;
}


.layout_padding {
  padding: 90px 0;
}

.info_section {
  background-color: #121111;
  color: #ffffff;
}

.info_section h5 {
  text-transform: uppercase;
  font-weight: 600;
}

.info_section .info_menu .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}

.info_section .info_news .info_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.info_section .info_news .info_contact a {
  color: #ffffff;
  margin-bottom: 5px;
}

.info_section .info_news form {
  margin-top: 15px;
}

.info_section .info_news form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 10px;
  background-color: #e0e0e0;
}

.info_section .info_news form input::-webkit-input-placeholder {
  color: #acaeae;
  border-radius: 5px;
}

.info_section .info_news form input:-ms-input-placeholder {
  color: #acaeae;
}

.info_section .info_news form input::-ms-input-placeholder {
  color: #acaeae;
}

.info_section .info_news form input::placeholder {
  color: #acaeae;
}

.info_section .info_news form button {
  display: inline-block;
  padding: 7px 45px;
  background-color: #4bc5b8;
  border: 1px solid #4bc5b8;
  color: #ffffff;
  margin-top: 15px;
}

.info_section .info_news form button:hover {
  background-color: transparent;
  color: #4bc5b8;
}

.footer_section {
  background-color: #121111;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer_section p {
  padding: 20px 65px;
  color: #787878;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid rgba(224, 224, 224, 0.4);
}

.footer_section a {
  color: #787878;
}






