<!-- Sidebar -->
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/admin/liste-biens">Biens Immobilier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Immeubles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Appartements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Maisons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Terrains</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Parcelles</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/biens" class="text-white">Retour à l'accueil</a>
    </li>
  </ul>
