<div class="wrapper">
 
  <div class="container-fluid mt-5">
    <div class="row">
      
      <div class="col-md-10 offset-md-2 py-4">
        <h2 class="mb-4 mt-5 text-center">Gestion des Biens</h2>
        <!-- Formulaire de Bien -->
        <div class="card col-md-8 m-auto">
          <div class="card-body">
            <form (ngSubmit)="addBien()" [formGroup]="bienForm" enctype="multipart/form-data">
              <div class="form-group">
                <label for="titre">Titre:</label>
                <input type="text" class="form-control" formControlName="titre" required id="titre">
                <br>
                   <span *ngIf="veriForm && bienForm.controls.titre.errors">* le titre est obligatoire</span>
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" formControlName="description" required id="description"></textarea>
                <br>
                <span *ngIf="veriForm && bienForm.controls.description.errors">* la description est obligatoire</span>
              </div>
              <div class="form-group">
                <label for="prix">Prix:</label>
                <input type="number" class="form-control" formControlName="prix" required id="prix">
                <br>
                <span *ngIf="veriForm && bienForm.controls.prix.errors">* le prix est obligatoire</span>
              </div>
              <div class="form-group">
                <label for="superficie">Superficie (en m²):</label>
                <input type="number" class="form-control" formControlName="superficie" required id="superficie">
                <br>
                <span *ngIf="veriForm && bienForm.controls.superficie.errors">* la superficie est obligatoire</span>
              </div>
              <div class="form-group">
                <label for="nombre_chambres">Nombre de chambres:</label>
                <input type="number" class="form-control" formControlName="nombre_chambres" required id="nombre_chambres">
                <br>
                <span *ngIf="veriForm && bienForm.controls.nombre_chambres.errors">* le nombre de chambre est obligatoire</span>
              </div>
              <div class="form-group">
                <label for="nombre_douches">Nombre de douches:</label>
                <input type="number" class="form-control" formControlName="nombre_douches" required id="nombre_douches">
                <br>
                <span *ngIf="veriForm && bienForm.controls.nombre_douches.errors">* le nombre de douches est obligatoire</span>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" formControlName="disponible" id="disponible">
                <label class="form-check-label" for="disponible">Disponible</label>
              </div>
              <div class="form-group">
                <label for="type">Type:</label>
                <select class="form-control" formControlName="type" required id="type">
                  <option value="appartement">Appartement</option>
                  <option value="studio">Studio</option>
                  <option value="magasin">Magasin</option>
                  <option value="terrain">Terrain</option>
                  <option value="maison">Maison</option>
                </select>
              </div>
              <div class="form-group">
                <label for="type_annonce">Type d'annonce:</label>
                <select class="form-control" formControlName="type_annonce" required id="type_annonce">
                  <option value="location">Location</option>
                  <option value="vente">Vente</option>
                </select>
              </div>
              <div class="form-group">
                <label for="imagePath">Image:</label>
                <input type="file" class="form-control-file" (change)="onFileChange($event)">
              </div>
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
