.wrapper {
  background: linear-gradient(to bottom, rgb(110, 87, 50), #ffffff);
  padding: 20px;
  border-radius: 10px;
}

.row{
  margin-top: 60px;
  margin-right: 15%;

}

.card {
  background: rgba(255, 255, 255, 0.89);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #060c06;
  font-weight: bold;
}

.form-group label {
  font-weight: bold;
  color: #0d0e0d;
}

.form-control {
  border: 1px solid #0e1010;
  border-radius: 5px;
}

.form-control:focus {
  border-color: rgba(157, 120, 61, 0.62);
  box-shadow: 0 0 5px rgba(157, 120, 61, 0.62);
}

.btn-success {
  background-color: rgba(157, 120, 61, 0.87);
  border: none;
  border-radius: 5px;
}

.btn-success:hover {
  background-color: rgba(157, 120, 61, 0.85);
}

span {
  color: #d32f2f;
  font-size: 0.9em;
}


form .form-group {
  margin-bottom: 5px;
}

form .form-check {
  margin-bottom: 5px;
}

form button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;
  padding: 8px;
  background-color: rgb(157, 120, 61);
  color: white;
  border: none;
  border-radius: 5px;
}

form button:hover {
  background-color: rgba(157, 120, 61, 0.7);
}

.logo {
  margin-left: 50px;
  width: 80px;
  height: auto;
}

@media (max-width: 768px) {
  .logo {
    width: 120px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 100px;
  }
}











