/* Dégradé de fond */
body {
  background: linear-gradient(to bottom, #ffffff, #39A6A1); /* Dégradé du blanc au vert */
  min-height: 100vh; /* Assure que le fond dégradé couvre toute la hauteur */
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime le padding par défaut */
}

/* Formulaire */
form .form-group {
  margin-bottom: 15px;
}

form .form-check {
  margin-bottom: 20px;
}

form button {
  margin-left: auto; /* Centre le bouton */
  margin-right: auto; /* Centre le bouton */
  display: block; /* Permet de centrer le bouton */
  width: 200px;
  padding: 10px;
  background-color: rgba(22, 71, 69, 0.86);
  color: white;
  border: none;
  border-radius: 5px;
}

form button:hover {
  background-color: rgba(57, 166, 161, 0.62);
}

/* Liste des Biens */
.list-group-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.bien-info {
  margin-left: 20px;
}

.bien-info strong {
  font-size: 1.2rem;
}

.actions button {
  margin-left: 10px;
}

.logo {
  margin-left: 50px;
  width: 80px;
  height: auto;
}

@media (max-width: 768px) {
  .logo {
    width: 120px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 100px;
  }
}
