<app-nav></app-nav>
<br><br><br><br><br>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-image">
        <img src="assets/images/frames-for-your-heart-2d4lAQAlbDA-unsplash.jpg" class="d-block w-100 darken-image" alt="...">
      </div>
      <div class="carousel-caption d-none d-md-block">
          <div class="row justify-content-center align-items-center vh-100">
            <div class="col-12 col-md-8 text-center">
              <div class="detail-box">
                <h1>Bienvenue chez</h1>
                <h1>DJIBRIL SAKHO - IMMOBILIER</h1>
              </div>
              <a routerLink="/contact" class="contact-button">
                <i class="fas fa-envelope"></i> Contacter
              </a>
            </div>
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image">
        <img src="assets/images/properties-9.jpg"  class="d-block w-100 darken-image" alt="...">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <div class="row justify-content-center align-items-center vh-100">
          <div class="col-12 col-md-8 text-center">
            <div class="detail-box">
              <h1>Choissisez votre maison de reve avec</h1>
              <h1>DJIBRIL SAKHO - IMMOBILIER</h1>
            </div>
            <a routerLink="/contact" class="contact-button">
              <i class="fas fa-envelope"></i> Contacter Nous
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image">
        <img src="assets/images/about.jpg" class="d-block w-100 darken-image" alt="...">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <div class="row justify-content-center align-items-center vh-100">
          <div class="col-12 col-md-8 text-center">
            <div class="detail-box">
              <h1>Bienvenue chez</h1>
              <h1>DJIBRIL SAKHO - IMMOBILIER</h1>
            </div>
            <a routerLink="/contact" class="contact-button">
              <i class="fas fa-envelope"></i> Contacter
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container">
  <div class="header">
    <h1>Des Solutions Adaptées à Vos Besoins</h1>
  </div>
  <div class="content">
    <div class="text-section">
      <h2>À propos de DSI</h2>
      <p>Fondée en 2009, Djibril Sakho Immobilier est une entreprise familiale qui s'est imposée avec succès sur le marché de l'immobilier au Sénégal. Forte de plus de 15 années d'expérience, elle offre une expertise reconnue dans les domaines de la location, de la vente, de la gérance et des prestations de services. Une entreprise de confiance, grâce à son sérieux, sa fiabilité et son engagement envers ses clients. Elle met un point d'honneur à entretenir des relations de long terme fondées sur l'expertise et la satisfaction de ses clients.</p>
    </div>
    <div class="image-section">
      <img src="assets/images/person_1.jpg" alt="Image de l'agence">
    </div>
  </div>
  <div class="footer">
    <p>15 ans d’expérience dans l’immobilier au Sénégal</p>
  </div>
</div>





<div class="annonces-section">
  <h1 class="section-title">Annonces</h1>

  <div class="annonces-grid">
    <div class="annonce-item" *ngFor="let bien of biens">
      <div class="annonce-card">
        <img class="img-fluid" style="width:100%;" [src]="bien.imageUrl" alt="{{bien.titre}}">
        <div class="badge-container">
          <span class="badge {{ bien.type_annonce == 'location' ? 'bg-primary' : 'bg-success' }}">{{ bien.type_annonce }}</span>
        </div>
        <div class="annonce-info">
          <div class="text">
            <p class="description">{{ bien.description }}</p>
            <span class="font-weight-bold">{{ bien.prix }} Fcfa</span>
            <p>Disponible: {{ bien.disponible ? 'Oui' : 'Non' }}</p>
          </div>
          <div class="properties">
            <span><i class="flaticon-area"></i> Superficie: {{ bien.superficie }} m²</span>
            <span><i class="flaticon-bathtub">🛁</i> {{ bien.nombre_douches }} </span>
            <span><i class="flaticon-bed">🛏️</i> {{ bien.nombre_chambres }}</span>
          </div>

          <div class="button-group">
            <button class="btn btn-outline" [routerLink]="['/detail', bien.id]">Voir plus</button>
            <button class="btn btn-outline" [routerLink]="['/edit-bien', bien.id]">Modifier</button>
            <button class="btn btn-outline" (click)="delete(bien.id)">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<br><br>
  <div class="d-flex justify-content-center align-items-center h-100">
    <button class="btn btn-outline-secondary btn-lg rounded-pill px-4 py-2" *ngIf="biensToShow.length < biens.length" (click)="loadMore()">
      Voir plus
    </button>
  </div>

</div>

<div class="container">
  <div class="header">
    <h1>Nos Offres</h1>
  </div>
  <div class="offers">
    <div class="offer-card">
      <a href="#" class="card-link">
        <img src="assets/images/about.jpg" alt="Appartements à louer" class="offer-image">
        <h3>Appartements à louer</h3>
      </a>
    </div>
    <div class="offer-card">
      <a href="#" class="card-link">
        <img src="assets/images/properties-7.jpg" alt="Villas maisons à louer" class="offer-image">
        <h3>Villas maisons à louer</h3>
      </a>
    </div>
    <div class="offer-card">
      <a href="#" class="card-link">
        <img src="assets/images/properties-7.jpg" alt="Locations meublées" class="offer-image">
        <h3>Locations meublées</h3>
      </a>
    </div>
    <div class="offer-card">
      <a href="#" class="card-link">
        <img src="assets/images/properties-7.jpg" alt="Bureaux & Commerces" class="offer-image">
        <h3>Bureaux & Commerces</h3>
      </a>
    </div>
    <div class="offer-card">
      <a href="#" class="card-link">
        <img src="assets/images/properties-7.jpg" alt="Appartements à vendre" class="offer-image">
        <h3>Appartements à vendre</h3>
      </a>
    </div>
    <div class="offer-card">
      <a href="#" class="card-link">
        <img src="assets/images/properties-7.jpg" alt="Villas maisons à vendre" class="offer-image">
        <h3>Villas maisons à vendre</h3>
      </a>
    </div>
    <div class="offer-card">
      <a href="#" class="card-link">
        <img src="assets/images/properties-7.jpg" alt="Terrains à vendre" class="offer-image">
        <h3>Terrains à vendre</h3>
      </a>
    </div>
    <div class="offer-card">
      <a href="#" class="card-link">
        <img src="assets/images/properties-7.jpg" alt="Toutes nos offres" class="offer-image">
        <h3>Toutes nos offres</h3>
      </a>
    </div>
  </div>
</div>



<app-contact></app-contact>
