body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

blockquote {
  font-family: 'Georgia', serif;
}
.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Couleur noire avec 40% d'opacité */
  z-index: 1; /* S'assurer qu'il est au-dessus de l'image */
}

.citation {
  font-family: 'Merriweather', serif;
}

.home-banner {
  margin-top: -100px;
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  margin-bottom: 40px;
}

.banner-image {
  width: 100%;
  height: 20%;
  object-fit: cover;
  filter: brightness(0.3);
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.banner-text h2 {
  font-size: 4rem;
  font-weight: bold;
}

.banner-text p {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 300;
}

.annonces-section {
  padding: 10px 20px;
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
  margin: 5px 5px 5px;
  border-radius: 5%;

}

.annonces-section h1 {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.annonces-section hr {
  border-radius: 25px;
  height: 4px;
  width: 25%;
  background-color: #9d783d;
  margin: 0 auto 20px auto;
}

.annonces-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.annonce-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.badge{
  background-color: #9d783d;
}
.annonce-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.annonce-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.annonce-item .badge {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 8px 12px;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
}

.annonce-info {
  padding: 20px;
}

.annonce-info .text {
  margin-bottom: 10px;
}

.annonce-info .text p {
  margin: 0 0 10px;
  color: #666;
}

.annonce-info .text .font-weight-bold {
  font-size: 20px;
  color: #333;
}

.annonce-info .properties {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.annonce-info .properties span {
  color: #555;
  font-size: 14px;
}

.annonce-info button {
  display: block;
  margin: 10px auto 0;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  color: rgb(157, 120, 61);
  border: 2px solid #9d783d;
  transition: all 0.3s ease;
}

.annonce-info button:hover {
  background-color: #9d783d;
  color: #fff;
}

.home-banner {
  margin-top: -90px;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 40px;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.32);
  z-index: 1;
}

.banner-drawing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.banner-text {
  position: absolute;
  top: 30%;
  left: 30px;
  transform: translateY(-50%);
  text-align: left;
  color: white;
  z-index: 2;
}

.banner-text h2 {
  font-size: 4rem;
  font-weight: bold;
}

.banner-text p {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 300;
}

.contact-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #9d783d;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.contact-button:hover {
  background-color: #6e5732;
  transform: scale(1.1);
}

.btn {
  background-color: transparent; /* Fond transparent */
  border: 2px solid #8B4513; /* Bordure marron */
  color: #8B4513; /* Couleur du texte marron */
  padding: 8px 16px; /* Espacement interne */
  border-radius: 5px; /* Coins arrondis */
  transition: background-color 0.3s, color 0.3s; /* Transition pour l'effet de survol */
  font-size: 14px; /* Taille de la police */
}

.btn:hover {
  background-color: #8B4513; /* Fond marron au survol */
  color: white; /* Couleur du texte blanche au survol */
}
.container {
  max-width: 100%;
  margin: 90px auto;
  font-family: Arial, sans-serif;
}

.carousel-image {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.carousels-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(25%);
}

.great-container{
  margin: 5px;
  /*background-color: #f9f9f9;
  border-radius: 5%;*/

}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-img-top {
  height: 200px; /* Hauteur fixe pour l'uniformité */
  object-fit: cover; /* Maintenir le ratio d'aspect */
}

.card-body {
  flex-grow: 1; /* Permet au corps de prendre l'espace restant */
}

.card-footer {
  display: flex;
  justify-content: center; /* Centre les boutons */
  gap: 10px; /* Espacement entre les boutons */
}

.card-footer button {
  gap: 10px;
  margin: 5px; /* Espacement entre les boutons */}

/* Pour centrer le bouton "Voir plus" */
.text-center {
  margin-top: 20px; /* Espacement au-dessus du bouton "Voir plus" */
}

.text-center button {
  display: inline-block; /* S'assure que le bouton est centré */
}


.header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.debut{
  background-color: rgb(110, 87, 50);
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
  border-style: double;
  -webkit-border-radius: 25px  200px 25px 200px;


}

.content {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.text-section {
  flex: 1;
  padding: 20px;
  margin: 90px;
  text-align: left;
}

.image-section {
  flex: 1;
}

.image-section img {
  max-width: 100%;
  height: auto;
}

.footer {
  background-color: #6e5732;
  text-align: center;
  padding: 5px;
  color: #FFFFFF;
  border-style: double;
  -webkit-border-radius: 25px 200px  25px 200px;
}
/*dernier section avant footer */

.containeer {
  max-width: 100%;
  text-align: left;
  margin: 25px;

}
.offres-section{
  margin: 90px;
 /* padding: 40px 20px;
  background-color: #f9f9f9;
  border-radius: 5%;*/


}
.offres-section hr {
  border-radius: 25px;
  height: 4px;
  width: 25%;
  background-color: #9d783d;
  margin: 0 auto 20px auto;
}

.others-section{
  margin: 90px;
  /* background-color: #f9f9f9;
   border-radius: 5%;
 */
 }


.others-section hr {
  border-radius: 25px;
  height: 4px;
  width: 25%;
  background-color: rgb(157, 120, 61);
  margin: 0 auto 20px auto;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.grid {
  display: flex;
  justify-content: space-between;
  margin: 70px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  flex: 1; /* Prend un espace égal */
  margin: 0 10px; /* Espace entre les cartes */
  height: 200px;
}

.card i {
  font-size: 50px;
  color: #6e5732; /* Couleur similaire à celle affichée */
  display: block;
  margin-bottom: 10px;
  padding-top: 35px;
}

.card h3 {
  margin: 0;
  font-size: 1.2em;
  color: #6e5732; /* Couleur similaire à celle affichée */
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgb(110, 87, 50);
}

/* Alignement des boutons */
.button-group {
  display: flex;
  justify-content: space-around; /* Espace égal entre les boutons */
  gap: 10px; /* Espacement constant */
  margin-top: 10px; /* Un peu d'espace au-dessus */
}

/* Boutons personnalisés */
.custom-btn {
  padding: 5px 10px; /* Diminue la taille des boutons */
  font-size: 14px; /* Réduit la taille du texte */
  border-radius: 5px; /* Arrondit les coins légèrement */
  border: none; /* Enlève les bordures par défaut */
  cursor: pointer; /* Change le curseur en pointeur */
}


@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .text-section, .image-section {
    flex: 1 1 100%;
    padding: 10px;
  }

  .carousel-caption {
    top: 30%;
    transform: translateY(-50%);
  }

  .carousel-caption h1 {
    font-size: 2rem;
  }

  .carousel-caption a {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .grid {
    flex-direction: column;
  }

  .card {
    margin: 10px 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .contact-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }


  .annonces-grid {
    grid-template-columns: 1fr;
  }

  .carousel-image {
    height: 30vh;
  }

  .content {
    margin: 0;
  }

  .text-section, .image-section {
    padding: 10px;
  }

  .carousel-image {
    height: auto;
  }

}
