<!-- Bouton flottant -->
<button id="floating-button" class="floating-button" (click)="toggleForm()">
    <i class="bi bi-envelope"></i> <!-- Icône d'email de Bootstrap Icons -->
</button>

<!-- Formulaire de contact -->
<div id="contact-form" class="contact-form" *ngIf="showForm">
    
    <form [formGroup]="contactForm" (ngSubmit)="onSubmitContact()">
        <div class="form-group">
          <input
            type="text"
            formControlName="name"
            id="name"
            class="form-control"
            placeholder="Entrez votre nom"
            required
          />
          <div
            *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched"
            class="text-danger"
          >
            Le nom est obligatoire.
          </div>
        </div>
        <div class="form-group">
          <input
            type="email"
            formControlName="email"
            id="email"
            class="form-control"
            placeholder="Entrez votre email"
            required
          />
          <div
            *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
            class="text-danger"
          >
            L'email est obligatoire.
          </div>
        </div>
        <div class="form-group">

          <textarea
            formControlName="message"
            id="message"
            class="form-control"
            placeholder="Entrez votre message"
            rows="4"
            required
          ></textarea>
          <div
            *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched"
            class="text-danger"
          >
            Le message est obligatoire.
          </div>
        </div>
        <button
          class="btn btn-primary" type="submit" [disabled]="contactForm.invalid || isLoading">Envoyer
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"></span>
        </button>
      </form>
</div>