<app-nav></app-nav>
<br><br><br><br><br>
<div *ngIf="bien" class="bien-detail-container">
  <div class="bien-content">
    <div class="bien-image">
      <img class="img-fluid" style="width:100%;" [src]="bien.imageUrl" alt="{{bien.titre}}">
    </div>

    <div class="bien-description">
      <h1 class="bien-title">{{ bien.type_bien }}</h1>
      <p class="bien-description-text">{{ bien.description }}</p>

      <div class="bien-price">
        <i class="flaticon-money"></i> <span>{{ bien.prix }} Fcfa</span>
      </div>

      <div class="bien-availability">
        <i class="flaticon-check"></i>
        <span>{{ bien.disponible ? 'Disponible' : 'Indisponible' }}</span>
      </div>

      <div class="properties">
        <span><i class="flaticon-area"></i> {{ bien.superficie }} m²</span>
        <span><i class="flaticon-bathtub"></i> {{ bien.nombre_douches }} 🛁</span>
        <span><i class="flaticon-bed"></i> {{ bien.nombre_chambres }} 🛏️</span>
      </div>

      <div class="bien-actions d-flex flex-column align-items-center">
        <button class="btn btn-whatsapp" (click)="reserverWhatsApp()">
          <i class="flaticon-whatsapp"></i> WhatsApp
        </button>
        <button class="btn btn-email mt-2" (click)="reserverEmail()">
          <i class="flaticon-email"></i> Email
        </button>
      </div>
    </div>
  </div>
</div>
